.sidebar {
  position: fixed;
  top: 0;
  left: -25%;
  width: 15%;
  height: 100%;
  margin-top: 3%;
  background-color: #444;
  color: white;
  padding: 2rem;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.open {
  left: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dam-box {
  border: 6px solid rgb(0, 140, 255);
  padding: 10px;
  margin-bottom: 10px;
  background-color: #9198a3;
  color: black;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.dam-box.selected {
  background-color: #fff;
}

.dam-box h3 {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.dam-info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.dam-info p {
  margin: 5px 0;
  font-size: 14px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.6rem;
  background-color: white;
  position: relative;
  margin-bottom: 25%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer img {
  width: 60px;
  height: auto;
  margin-right: 8px;
}

.footer .finner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer h6 {
  margin: 0;
  font-size: 18px;
  color: black;
  text-align: center; 
}

.footer p {
  margin: 0;
  font-size: 13px;
  color: black;
  text-align: center;
}
