.App {
  text-align: center;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-style: normal;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  color: #222;
}

p {
  font-family: 'Times New Roman', Times, serif;
}